<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {513, 1400}}</string>
		<string>{{514, 0}, {2046, 1400}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0FBE2B99-E972-4593-AC6F-68F0871C3062</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>15923392-DFFE-40DE-B6AE-17D3AA623C1D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>18D43D4A-CF13-4A1B-8037-D7A2752C3CF4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5DCF3F3C-2A63-4E80-94B0-7D1F0A084729</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6124759A-C410-4255-82C1-C17DB156EF62</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6963A081-0652-4205-B781-5B740D993254</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>774AE3F2-6E8E-4079-82B8-2CBAA4153541</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8DB910D0-3DCD-4A3C-8869-C13A60775978</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9628832A-3C02-4787-B806-34A62D6DBC80</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3BA3A14-CEFA-4018-8193-B6B79E4D184D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C4614D25-F9CB-4381-A23C-6EC26379D7C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9E0AC4D-C402-40DD-BDB9-F690E851E431</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CB8CDC42-43FE-4B6C-8C42-361BD425161C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CC35B727-D10A-481B-BE95-03EA23CBD299</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D344556A-2C7C-4C7A-A225-D9ED5DA9879E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {512, 642}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 438}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>3</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>2840 61 1000 674 1280 -640 2560 1417 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
