<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {660, 1400}}</string>
		<string>{{661, 0}, {1899, 1400}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>15923392-DFFE-40DE-B6AE-17D3AA623C1D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3EBA89E3-E419-42EE-AC21-CB1A49E9D124</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>50CD628E-DCEE-4BC4-9025-CD61F0B3478E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5853D482-34F0-4DA0-9A25-FB873DE9E767</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5DCF3F3C-2A63-4E80-94B0-7D1F0A084729</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6124759A-C410-4255-82C1-C17DB156EF62</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6963A081-0652-4205-B781-5B740D993254</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>774AE3F2-6E8E-4079-82B8-2CBAA4153541</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D126722-0DB5-4639-B144-E9135FAB2459</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8DB910D0-3DCD-4A3C-8869-C13A60775978</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9628832A-3C02-4787-B806-34A62D6DBC80</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A8FD592F-411C-413C-A46B-8E999A252A0D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3BA3A14-CEFA-4018-8193-B6B79E4D184D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C4614D25-F9CB-4381-A23C-6EC26379D7C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CB8CDC42-43FE-4B6C-8C42-361BD425161C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D344556A-2C7C-4C7A-A225-D9ED5DA9879E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D61498FB-A01D-4E60-B1CE-2EAFE55C6BB3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA79AA21-0916-406B-AA9C-6587DE8A088E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC96B143-E507-4727-9B79-9F95AAA3CFD6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E2C0FAB3-E882-41FA-9655-60D69DACA47A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F743D743-260B-450F-ACD7-871C3DEDDE8F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {488, 224}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {246, 642}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {108, 188.66666666666666}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>3</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>70 96 1000 675 0 0 1280 777 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
